# Base URL for @repo/api-client's createApiClient. Used by the contact
# page's "Super License" path (submits to /api/tenant-requests/request-license).
NEXT_PUBLIC_API_URL=https://backend-api-test.solvuri.com
